	.suggestionsBox {
		position: relative;
		left: 30px;
		margin: 10px 0px 0px 0px;
		width: 170px;
		background-color: #FFFFCC;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		border: 1px solid #DDD;	
		color: #000;
	}
	
	.suggestionList {
		margin: 0px;
		padding: 0px;
	}
	
	.suggestionList ol {
		
		margin: 0px 0px 3px 0px;
		padding: 3px;
		cursor: pointer;
	}
	
	.suggestionList ol:hover {
		background-color: #FFFF55;
	}